@tailwind base;
@tailwind components;
@tailwind utilities;

/* <Path> */
.moon_img {
  @apply hidden md:flex right-10 top-[80px] size-[160px] absolute xl:right-16 xl:top-[140px] xl:size-[220px];
  background: radial-gradient(
    50.97% 50.97% at 49.98% 50.05%,
    #ffffff 0%,
    #c0b3ff 75.8%,
    #000000 100%
  );
  background-blend-mode: screen;
  mix-blend-mode: screen;
  filter: blur(6.5px);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.slide-down {
  -webkit-animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-up {
  -webkit-animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.fc-event,
.fc-event-draggable,
.fc-event-resizable,
.fc-event-start,
.fc-event-end,
.fc-event-past,
.fc-daygrid-event,
.fc-daygrid-dot-event {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fc .fc-event:hover,
.fc .fc-h-event:hover,
.fc .fc-daygrid-event:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.fc .fc-day-today {
  background-color: #dbeafe !important;
}

.fc .fc-col-header-cell-cushion {
  font-weight: 600;
  color: #1f2937;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.fc .fc-daygrid-day {
  background-color: #ffffff; /* trắng đậm/gray-100 Tailwind */
  transition: background 0.2s ease;
}

/* Hover ngày bình thường */
.fc .fc-daygrid-day:hover {
  background-color: #e5e7eb; /* sáng hơn khi hover */
  cursor: pointer;
}

.fc .fc-scrollgrid-section.fc-scrollgrid-section-header {
  border-bottom: 1px solid #e5e7eb;
}

.fc .fc-event .tag,
.fc .fc-daygrid-event .tag {
  font-size: 0.65rem;
  padding: 0.1rem 0.3rem;
  border-radius: 9999px;
  color: #1f2937;
  margin-right: 0.2rem;
}
