.layoutMain{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.layoutMain .sidebar{
  height: 100vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.layoutMain .tinchinh{
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 1px black;
}


