.login{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.khungLogin{
    width: 300px;
    height: 400px;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px 0px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
      transition: all 0.3s ease-in-out;
 

}
.khungLogin:hover{
       outline: solid 3px #00c3ff;
     box-shadow: 0px 0px 5px 0px #00c3ff;
}
h2{
    color: white;
}
.khunginput{
    width: 250px;
    height: 30px;
     box-shadow: 0px 0px 5px 0px white;
     border: solid 1px rgb(157, 157, 157);
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 0.3s ease-in-out;
     padding: 5px 5px;
     gap: 0px 10px;
}
.khunginput:hover{
    outline: solid 3px #00c3ff;
     box-shadow: 0px 0px 5px 0px #00c3ff;
}
.khunginput .icon{
   color: white;
   width: 20px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.khunginput input{
    height: 100%;
    width: 230px;
    background: none;
    border: none;
    color: white;
}
.khunginput input:focus{
    outline: none;
}
.khungQuenpass{
    width: 100%;
    height: auto;
    padding-left: 30px;
}
.khungQuenpass .Link{
       display: inline-block;
       text-decoration: none;
       cursor: pointer;
       color: white;
         transition: all 0.3s ease-in-out;
}
.khungQuenpass .Link:hover{
    color: red;
}
.Btn_login{
    width: 80%;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.523);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
     transition: all 0.3s ease-in-out;
     border-radius: 5px;

}


.Btn_login:hover{
    outline: solid 3px #00c3ff;
     box-shadow: 0px 0px 5px 0px #00c3ff;
     background-color:#00c3ff ;
}
.Register{
    display: flex;
    gap: 0px 5px;
    align-items: center;

}
.Register p{
    color: rgba(158, 158, 158, 0.573);
}
.Register .linkRegister{
      display: inline-block;
       text-decoration: none;
       cursor: pointer;
       color: white;
         transition: all 0.3s ease-in-out;
}
.Register .linkRegister:hover{
    color: red;
}